.login-page {
  background: url('/public/assets/mountain.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 50px;
    width: 350px;
    height: 400px;

    .credentials-error {
      display: flex;
      margin-top: 5px;
      font-size: 12px;
      background-color: #EBE7E7;
      color: #FF364E;
      border-radius: 2px;
      justify-content: left;
      align-items: left;
    }
    .error-block {
      display: flex;
      padding-top: 10px;
      font-size: 15px;
      justify-content: flex-end;
    }
  }
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
